tr:nth-child(even) {background-color: #333030;}

@font-face {
    font-family:"MADECannes";
    src:url("/static/fonts/MADE_Cannes_PERSONAL_USE.eot?") format("eot"),
    url("/static/fonts/MADE_Cannes_PERSONAL_USE.woff") format("woff"),
    url("/static/fonts/MADE_Cannes_PERSONAL_USE.ttf") format("truetype"),
    url("/static/fonts/MADE_Cannes_PERSONAL_USE.svg#MADECannes") format("svg");
    font-weight:normal;
    font-style:normal;
}

#CustomBody{
    background-image: url("/static/img/abstract-theme-dark-background.jpg");
    background-blend-mode: hard-light;
    background-color: #1f1f1f;
    color: #ddd;
    padding-top: 70px;
    padding-bottom: 20px;
}

#TextBanner{
    color: rgb(13, 10, 150);
}

#mynavbar, #mynavbar-header, #mynavbar-brand, #mynav, #navbar-fixed-top{
    /*background-image: linear-gradient(#5d5959, black);*/
    background: linear-gradient(rgb(92, 91, 91), black);
    border-left-color:rgb(59, 69, 70);
    border-right-color:rgb(59, 69, 70);
   }

#myInput {
    background-image: url( '/static/img/searchicon.png' );
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 30%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 5px 10px 5px 40px; /* Add some padding */
    border: 1px solid #4CAF50; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#buttontable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    padding-top: 70px;
    padding-bottom: 20px;
    border: 0px solid #4CAF50;
}

#buttontable th, #buttontable td{
    border: 10px;
}


#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 0px solid #ddd; /* Add a grey border */
    font-size: 14px; /* Increase font-size */
    background-color: rgb(31, 29, 29);
}

#myTable th{
    text-align: left; /* Left-align text */
    padding: 5px; /* Add padding */
    border-bottom: 1px solid #4CAF50;    
}

#myTable td {
    text-align: left; /* Left-align text */
    padding: 5px; /* Add padding */
    border-bottom: 1px solid #4CAF50;    
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background: linear-gradient(rgb(92, 91, 91), black);
    color: rgb(17, 160, 24);
}

#myTable tr.header{
    background-color: rgb(59, 69, 70);
    background: linear-gradient(rgb(92, 91, 91), black);
    color: rgb(76, 144, 247);
    font-size: 14px;
}

#informationtable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 0px; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    text-align: center;
}

#informationtable tr.header{
    background-color: rgb(59, 69, 70);
}

#informationtable th{
    text-align: left; /* Left-align text */
    padding: 5px; /* Add padding */
    border-bottom: 1px solid rgb(59, 69, 70);
    text-align: center;
    color: rgb(12, 81, 211);
}

#informationtable td {
    text-align: center; /* Left-align text */
    padding: 5px; /* Add padding */
    background-color: rgb(31, 29, 29);
    background: linear-gradient(rgb(34, 34, 34), black);
    border-bottom: 1px solid rgb(59, 69, 70);
    text-align: center;
    color: rgb(197, 13, 13);
    
}

#informationtable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

h4 {
    /* color: rgb(37, 204, 15); */
    color: #ffff;
    font-family: 'Ariel';
    font-weight:normal;
    font-style:bold;
    font-size: 20px;
    }

h3 {
    color: rgb(13, 10, 150);
    font-family: 'MADECannes';
    font-weight:normal;
    font-style:bold;
    font-size: 40px;
    }

h5 {
    color: rgb(196, 243, 28);
    font-family: 'Ariel';
    font-weight:normal;
    font-style:bold;
    font-size: 20px;
    }

h2 {
    color: rgb(12, 81, 211);
    font-family: 'Ariel';
    font-weight:normal;
    font-style:bold;
    font-size: 22px;
    }

#textFooter{
    color: rgb(30, 99, 228);
    font-family: 'Ariel';
    font-style: 'bold';
    font-size: 14px;
    }

    #profileTable {
        align-self: center;
        width: 50%;
        border-collapse: collapse; /* Collapse borders */
        border: 0px solid #ddd; /* Add a grey border */
        font-size: 14px; /* Increase font-size */
        background-color: rgb(31, 29, 29);
    }
    
    #profileTable td {
        width: 20%;
        text-align: left; /* Left-align text */
        padding: 5px; /* Add padding */
        border-bottom: 1px solid #4CAF50;    
    }
    
    #profileTable tr {
        /* Add a bottom border to all table rows */
        border-bottom: 1px solid #4CAF50;
    }
    
    #profileTable tr:hover {
        /* Add a grey background color to the table header and on hover */
        background-color: rgb(31, 29, 29);
        color: rgb(17, 160, 24);
    }
    
    #profileTable th{
        width: 10%;
        background-color: rgb(59, 69, 70);
        background: linear-gradient(rgb(92, 91, 91), black);
        color: rgb(76, 144, 247);
        font-size: 16px;
    }
    