tr:nth-child(even) {background-color: #333030;}

@font-face {
    font-family:"MADECannes";
    src:url("/static/fonts/MADE_Cannes_PERSONAL_USE.eot?") format("eot"),
    url("/static/fonts/MADE_Cannes_PERSONAL_USE.woff") format("woff"),
    url("/static/fonts/MADE_Cannes_PERSONAL_USE.ttf") format("truetype"),
    url("/static/fonts/MADE_Cannes_PERSONAL_USE.svg#MADECannes") format("svg");
    font-weight:normal;
    font-style:normal;
}

#CustomBody{
    background-image: url("/static/img/abstract-theme-dark-background.jpg");
    background-blend-mode: hard-light;
    background-color: #1f1f1f;
    font-family: 'Oswald';
    color: #ddd;
    padding-top: 70px;
    padding-bottom: 20px;
}

#TextBanner{
    color: rgb(13, 10, 150);
    
}

#mynavbar, #mynavbar-header, #mynavbar-brand, #mynav, #navbar-fixed-top, #nav{
    background: linear-gradient(rgb(92, 91, 91), black);
   }

#myInput {
    background: linear-gradient(rgb(92, 91, 91), black);
    background-color: #333030;
    width: 90%;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    text-align: center;
    padding: 5px 10px 5px 40px;
    border: 2px solid rgb(2, 46, 82);
    margin-bottom: 12px;
    color:whitesmoke;
}

#buttontable {
    width: 100%; /* Full-width */
    padding-top: 70px;
    padding-bottom: 20px;
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    opacity: 100%;
}

#myTable th{
    text-align: center;
    padding: 5px;
}

#myTable td {
    text-align: left;
    padding: 5px;
}

#myTable tr {
    border-bottom: 1px solid rgb(26, 129, 0); 
}

#myTable tr:hover {
    background: linear-gradient(rgb(92, 91, 91), black);
    font-style: italic;
    font-weight: bold;
    color: rgb(17, 160, 24);
}

#myTable tr.header{
    background: linear-gradient(rgb(92, 91, 91), black);
    color: rgb(109, 166, 252);
    font-size: 14px;
}

h4 {
    /* color: rgb(37, 204, 15); */
    color: #ffff;
    font-family: 'Oswald';
    font-weight:normal;
    font-style:bold;
    font-size: 20px;
    }

h3 {
    color: #0f73e8;
    font-family: 'Almendra SC', serif;
    font-weight:normal;
    font-style:bold;
    font-size: 40px;
    }

h5 {
    color: rgb(196, 243, 28);
    font-family: 'Ariel';
    font-weight:normal;
    font-style:bold;
    font-size: 20px;
    }

h2 {
    color: #0f73e8;
    font-family: 'Oswald';
    font-weight:normal;
    font-style:bold;
    font-size: 25px;
    }

#profileHeader {
    color: #0f73e8;
    font-family: 'Oswald';
    font-weight: normal;
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 50px;
    }

#textFooter{
    align-self: center;
    color: #0f73e8;
    font-family: 'Oswald';
    font-style: 'bold';
    font-size: 14px;
    text-align: center;
    }

#profileTable {
    align-self: center;
    width: 50%;
    border-collapse: collapse; /* Collapse borders */
    border: 0px solid #ddd; /* Add a grey border */
    font-size: 14px; /* Increase font-size */
    background-color: rgb(31, 29, 29);
    }
    
#profileTable td {
    width: 20%;
    text-align: left; /* Left-align text */
    padding: 5px; /* Add padding */
    border-bottom: 1px solid #4CAF50;    
    }
    
#profileTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #4CAF50;
    }
    
#profileTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: rgb(31, 29, 29);
        color: rgb(17, 160, 24);
    }
    
#profileTable th{
    border-bottom: 1px solid black;
    width: 10%;
    background-color: rgb(59, 69, 70);
    background: linear-gradient(rgb(92, 91, 91), black);
    color: #0f73e8;
    font-size: 14px;
    text-align: center;
    }

#buttontable img:last-of-type:hover{
    border-radius: 10px;
    box-shadow: 0.1px 0.1px 15px 15px #002550;
}

#informationtable {
    font-size: 24px;
    text-align: center;
}

#informationtable th{
    background: linear-gradient(rgb(34, 34, 34), black);
    padding: 5px;
    text-align: center;
    font-size: 14px;
    color: #0f73e8;
}

#informationtable td {
    text-align: center;
    padding: 5px;
    background: linear-gradient(rgb(34, 34, 34), black);
    color: rgb(197, 13, 13);
}

#CustomFooter {
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 50%;
    font-size: 12px;
    opacity: 50%;
    }