{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  IOT Dashboard
{% endblock %}

{% block UItitle %}
  DS-IOT : CHANNELS
{% endblock %}

{% block content_control %}
<link rel="stylesheet" href="{% static 'css/custom-iot.css' %}">
<script src="{% static 'js/iot/custom-iot.js' %}"></script>

<div><center><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for channels by name.."></center></div>

<div style="overflow-x:auto;">
  <table id="myTable">
    <tr class="header">
      <th style="width:15%;">Name</th>
      <th style="width:10%;">Channel ID</th>
      <th style="width:10%;">Channel Owner</th>
      <th style="width:10%;">Created</th>
      <th style="width:10%;">Modified</th>
    </tr>
      {% for c in mychannels %}
        <tr>
          <td>{{c.name}}</td>
          <th>{{c.channelid}}</th>
          <th>{{c.channelowner}}</th>
          <th>{{c.created}}</th>
          <th>{{c.modified}}</th>
        </tr>
      {% endfor %}
  </table>
  <div class="pull-left" id='textFooter'> {{ user.first_name }}</b> , you have {{ mychannelcount }} channels.</div>
</div>

{% endblock %}

