{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
IOT Dashboard
{% endblock %}
{% block UItitle %}
IOT User Dashboard
{% endblock %}
{% block content_control %}
<link rel="stylesheet" href="{% static 'css/custom-iot.css' %}">
<script src="{% static 'js/iot/custom-iot.js' %}"></script>
<br><br><br>
  <div class='jumbotron' style="overflow-x:auto;">
    <table id='buttontable'>
      <tr>
        <td><a href="frontend/channels"><img src="{% static '/img/buttons/rndsquare_green/button_channels.png' %}" alt="My Channels" style="width:200px;height:175px;border:2;"></a></td>
        <td><a href="frontend/sensors"><img src="{% static '/img/buttons/rndsquare_green/button_sensors.png' %}" alt="My Sensors" style="width:200px;height:175px;border:2;"></a></td>
        <td><a href="frontend/data"><img src="{% static '/img/buttons/rndsquare_green/button_data.png' %}" alt="My Data" style="width:200px;height:175px;border:2;"></a></td>
        <td><a href="default.asp"><img src="{% static '/img/buttons/rndsquare_green/button_profile.png' %}" alt="HTML tutorial" style="width:200px;height:175px;border:2;"></a></td>
      </tr>
    </table>
  </div>
{% endblock %}

