{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
IOT Dashboard
{% endblock %}
{% block UItitle %}
IOT:DS-Core:Sensors
{% endblock %}
{% block content_control %}
<link rel="stylesheet" href="{% static 'css/custom-iot.css' %}">
<script src="{% static 'js/iot/custom-iot.js' %}"></script>
<div class='pull-right'><h5>My Registered Sensors</h5></div>
<div class=''><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for sensors by name.."></div>
<div style="overflow-x:auto;">
<div class=''>
<table id="myTable">
  <tr class="header">
    <th style="width:15%;"><center>Name</center></th>
    <th style="width:10%;"><center>ID</center></th>
    <th style="width:10%;"><center>Channel Name</center></th>
    <th style="width:10%;"><center>Sensor Context</center></th>
    <th style="width:10%;"><center>Created</center></th>
    <th style="width:10%;"><center>Modified</center></th>
  </tr>
  {% for s in mysensors %}
  <tr>
    <td>{{s.name}}</td>
    <td><center>{{s.sensorid}}</center></td>
    <td><center>{{s.channel}}</center></td>
    <td><center>{{s.context}}</center></td>
    <td><center>{{s.created}}</center></td>
    <td><center>{{s.modified}}</center></td>
  </tr>
{% endfor %}
    </table>
    <div class="text-info pull-right">{{ user.first_name }}</b> , you have {{ mysensorcount }} sensors.</div>
  </div></div>
    </div>
</div>
{% endblock %}

